:root {
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Colors
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  --ue-color-primary: #fdfc8e;
  --ue-color-secondary: #333333;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Animations
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  --ue-motion-slowest: 500ms;
  --ue-motion-slow: 500ms;
  --ue-motion-medium: 250ms;
  --ue-motion-fast: 150ms;
  --ue-motion-fastest: 50ms;
}
